.cf() {
  .clearfix;
}





.tdn() {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}





.td-reverse() {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}





.white-link(){
  color: #fff;

  &:hover,
  &:focus {
    outline: none;
    color: #fff;
    color: rgba(255,255,255,0.6);
  }
  
  &:active {
    color: #fff;
    color: rgba(255,255,255,0.4);
  }
}





.dark-blue-link() {
  color: @blue-light;

  &:hover,
  &:focus {
    outline: none;
    color: @blue-condensed;
  }
  
  &:active {
    color: @blue-condensed;
    color: @blue-condensed-ra-act;
  }
}





.white-btn-hvr() {
               color: #fff;
        border-color: #fff;
    background-color: transparent;

  &:hover,
  &:focus {
    outline: none;
               color: @blue-condensed;
        border-color: #fff;
    background-color: #fff;
  }
  
  &:active {
               color: @blue-condensed;
               color: @blue-condensed-ra-act;
        border-color: #fff;
    background-color: #fff;
  }
}





.opacity-hvr() {
  opacity: 1;

  &:hover,
  &:focus {
    outline: none;
    opacity: .6;
  }
  
  &:active {
    opacity: .3;
  }
}





.blue-text-hvr() {

}





.trz(@smth: all, @dur: .15s) {
  transition: @smth @dur;
}