.breadcrumbs {
  list-style-type: none;
  margin: 0 0 28px;
  padding: 0;
  .cf;

  &__item {
    float: left;
    position: relative;
    padding-left: 67px;

    &:before {
      content: '';
      position: absolute;
      top: 11px;
      left: 25px;
      background-color: transparent;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2041.4%2076.9%22%3E%3Cpath%20stroke%3D%22%23007aff%22%20stroke-width%3D%226%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20fill%3D%22none%22%20d%3D%22M38.4%2038.4L3%2073.9M38.4%2038.4L3%203%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-size: 10px 18px;
      width: 10px;
      height: 18px;
    }

    &:first-child {
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }

  &__link {
    .h1;
    margin: 0;
    .td-reverse;

    &:hover,
    &:focus {
      outline: none;
      color: @dark_condensed;
    }
    
    &:active {
      color: @dark_condensed;
      opacity: .3;
    }
  }

  &__last {
    .h1;
    margin: 0;
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
// 
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .breadcrumbs {
    margin: 0 0 14px;
    &__item {
      display: none;

      &--last {
        display: block;
        padding: 0 40px;
      }

      &:before {
        display: none;
      }
    }

    &__last {
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
  }
}