// обертка
.blog-previews {
  padding: 40px 30px;
}





.blog-preview {
  display: block;
  margin: 0 0 21px;
  padding: 0 10px;
  .cf;
  .tdn;

  &:hover {
    .blog-preview__hdr {
      color: @blue-condensed;
    }

    .blog-preview__text {
      color: #000;
    }

    .blog-preview__img-desc {
      top: 0;
    }
  }

  &:active {
    .blog-preview__hdr {
      color: @blue-condensed;
      opacity: .3;
    }

    .blog-preview__text {
      color: #000;
      opacity: .3;
    }

    .blog-preview__img-desc {
      top: 0;
      color: rgba(255,255,255,0.3);
    }
  }

  &__img-wrap {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 19px;
    width: 100%;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__img-desc {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    top: 100%;
    background-color: @blue;
    background-color: @blue-ra;
    color: #fff;
    .trz(top, .3s);
    padding: 31px 40px;
    font-size: 24px;
    font-weight: bold;
  }

  &__hdr {
    .h2;
    line-height: 30px;
    margin: 0 0 9px;
    clear: both;
    color: #000;
  }

  &__text {
    color: @dark_normal;
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
// 
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .blog-previews {
    padding: 20px 0 0;
  }

  .blog-preview {
    padding: 0 @m_offset;
    margin: 0 0 20px;
    border-bottom: 1px solid @mobile-border-color;

    &--last {
      border-bottom: none;
      margin: 0;
    }

    &__img-wrap {
      margin: 0 0 14px;
    }

  }
}