.cont {
  &__section {
    padding-top: 47px;
    padding-bottom: 47px;

    p {
      color: #444;
    }

    &--gray {
      padding: 14px 0 10px;
      background-color: @gray;
    }

    // контроль выполнения
    &--big-gray {
      padding-top: 48px;
      padding-bottom: 53px;
      background-color: @gray;
    }

    &--blue {
      background-color: @blue;
      color: #fff;

      .cont__hdr,
      p
       {
        color: #fff;
      }
    }

    &--timeline {
      padding-top: 71px;
      padding-bottom: 69px;
    }

    &--label-soon {
      position: relative;
      
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 162px;
        height: 162px;
        .img-retina('../img/label-soon.png', '../img/label-soon@2x.png', 162px, 162px);
        top: 0;
        left: 0;
      }
    }
  }

  &__hdr {

    &--h1 {
      margin: 14px 0 30px;
      font-size: 36px;
      line-height: 40px;
    }

    &--h3 {
      .h3;
      text-transform: uppercase;
      margin-bottom: 18px;
    }

    &--progress {
      margin-top: 24px;
      margin-bottom: 29px;
    }

    &--timeline {
      margin: 0;
      font-size: 36px;
      line-height: 40px;
      position: relative;
      bottom: 4px;
    }
  }
}

// ==============
// !!RESPONSIVE!!
// ==============
// 940+(162/2)*2 + 40 = 1142 - 40 взялось из-за того, что полоса наклонная
@media (min-width: @screen-xs-max) and (max-width: 1140px) {
  .cont__section--label-soon:before {
    display: none !important;
  }
}
// ==============
//      DESK
// ==============
// @media (min-width: @screen-sm-min) {
// 
// }
// ==============
//     MOBILE
// ==============
@media (max-width: @screen-xs-max) {
  .cont {
    &__section {
      padding: 21px 0 0;
      text-align: center;

      &--gray {
        padding: 0;
      }

      &--label-soon {
        padding: 21px 0 0;
        .cont__hdr {
          padding: 0 70px; // 162/2 
        }

        p {
          padding: 0 30px;
        }

        &:before {
          width: 110px;
          height: 110px;
          .img-retina('../img/label-soon_right.png', '../img/label-soon_right@2x.png', 110px, 110px);
          background-size: 110px 110px;
          left: auto;
          right: 0;
        }
      }

      &--timeline {
        padding: 18px 0 29px;
      }
    }

    &__hdr {
      &--h1 {
        margin: 0 0 12px;
        font-size: 24px;
        line-height: 30px;
      }

      &--h3 {
        margin: 0 0 16px;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
      }

      &--timeline {
        margin: 0 0 12px;
        font-size: 24px;
        line-height: 30px;
        bottom: auto;
      }
    }
  }
}